themes/
.vscode/
**/__pycache__/
*.pyc
*.zwc
*.zwc.old

# OBS generated data
apps/.config/obs-studio/logs/
apps/.config/obs-studio/profiler_data/
apps/.config/obs-studio/basic/scenes/*.bak

# local scratch / backups
code.md
code-mocha.tmpl
*.backup.*
