[user]
	name = Vaibhav Verma
	email = vermavaibhav241@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache
[safe]
	directory = /mnt/work/projects/nextjs-vibe
	directory = /mnt/work/projects/Odoo-Hackathon-The-Knights
	directory = /mnt/work/projects/niptao
	directory = /mnt/work/projects/portfolio
	directory = /mnt/work/projects/bloggz
	directory = /mnt/work/projects/ppai
	directory = /mnt/work/projects/interview-bot
	directory = /mnt/work/projects/blogs
	directory = /mnt/work/projects/blogs
	directory = /mnt/work/projects/gist-mcp
	directory = /mnt/work/projects/ppai/.claude/worktrees/wt-test-probe
	directory = *
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
