[user]
	name = Vaibhav Verma
	email = vermavaibhav241@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = cache
[safe]
	directory = /mnt/work/projects/nextjs-vibe
