#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Learnyard - DSA
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app=https://study.learnyard.com/web/courses/details/6830e555589cc9a2ad148328
Icon=chrome-lpgkhinfoleibobedpkpjnijdielkkdh-Default
StartupWMClass=crx_lpgkhinfoleibobedpkpjnijdielkkdh
