#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=100xDevs
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app=https://app.100xdevs.com/courses/3
Icon=chrome-pbinkdejbjicccdcpmgohppkioiopfhc-Default
StartupWMClass=crx_pbinkdejbjicccdcpmgohppkioiopfhc
